:root{
  --background-color: #e6e6e6;
  --primary-color: #0277bd;
  --secondary-color: #29b6f6;
  --on-hover-red: #e53935;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
 font-family: 'Roboto', sans-serif; 
 line-height: 1.4;
 background: var(--background-color);
}

a{
  text-decoration: none;
}


.primaryCol{
  color: var(--primary-color);
}


/* NavBar */
#navbar{
    position: sticky;
    top: 0;
    z-index: 1;
  }

ul.right li:hover{
    background: var(--primary-color);
}


/* landingPage || show case section */
#landingPage{
    background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #fff;
  }
  
  #landingPage .showcase_content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
  /* Overlay */
    position: absolute;
    top: 65px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  

  #usersLinkBtn{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    transition: all 1.2s ease-in-out;
  }
  #usersLinkBtn:hover{
    background-color: var(--on-hover-red);
  }




  /* Users section */

  #usersSection{
    padding-top: 1rem;
  }

  #usersSection > h3 {
    font-weight: 650;
    letter-spacing: -4px;
  }

  .card{
    border-radius: 10px;
  }


  .container{
    background: var(--background-color);
  }


  #addUserBtn{
    background: var(--primary-color);
    border-radius: 5px;
    transition: all 1.2s ease-in-out;
  }
  #addUserBtn:hover{
    background: var(--on-hover-red);
  }

  .imgCls{
    height: 160px;
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }

  .imgClsModal{
    height: 300px;
    width: 250px;
    display: block;
    margin: auto;
  }


  .modal-footer{
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .modal-close{
    background: var(--primary-color);
  }


/* Table css props */
  table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
  }
  table td, table th {
    height: 50px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    word-break: break-all;
    white-space: nowrap;
    border: 1px solid #C8C8C8;
    padding: 1.5rem;
  }
  table tr:nth-child(even) {
    background-color: #E8E8E8;
  }
  .t1{
    width: 20%;
  }
  .t2{
    width: 40%;
  }
  .t3{
    width: 40%;
  }
  tr:hover > td {
    overflow: visible;
    white-space: unset;
}